body{
  font-family: 'Amatic SC', cursive;
  font-size: medium;
}
.heading{
  width: 100%;
  height: 10%;
  margin: 0px;
  font-size: 50px;
}

.model-things{
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 50px;
  
}

.line{
  width: 100%;
  height: 1px;
  background-color: white;
}

.contenet{
  width: 55%;
  height: 95%;
  margin-left: 300px;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 18px black;
  border-radius: 19px;
  font-size: 50px;
}

.contenet p{
  color: black;
  font-size:32px;
  
}

.show{
  padding: 5px;
  margin: 0.1px;
  width: 9%;
  color: black;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 3px 3px 18px rgb(0, 0, 0);
}

canvas{
  border-radius: 10px;
  border: 2px dotted black;
  box-shadow: 3px 3px 18px rgb(4, 0, 255);
  margin-top: 160px;
  background-color: rgb(255, 255, 255);
}

.things{
  font-size: 20px;
  margin: 5px;
  width: 60%;
}